<nav>
  <ul>
    <li><a href="/admin">Home</a></li>
    <!-- <li><a href="/signin.html">Sign In</a></li>
    <li><a href="/signup.html">Sign Up</a></li> -->
    <li><a href="/admin/routes">Routes</a></li>
  </ul>
</nav>