<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/signin.html">Sign In</a></li>
        <li><a href="/signup.html">Sign Up</a></li> -->
        <li><a href="/order/<%= userMessages.id %>">Order</a></li>
        <li><a href="/profile">Profile</a></li>
        <li class="profile"><a href="">Welcome, <%= userMessages.first_name %> <%= userMessages.last_name %></a></li>
    </ul>
</nav>