* {
  box-sizing: border-box;
  margin: 0;
  color: #3e3e3e;
}

nav {
  height: 3rem;
  background: #7ed6df;
  padding: 0 3rem;
}

nav ul {
  display: flex;
  height: 100%;
}

nav ul li {
  list-style: none;
  line-height: 3rem;
  margin-right: 1rem;
}

nav li.profile {
  margin-left: auto;
}

li a {
  display: block;
  color: #fff;
}

main.hero {
  position: relative;
  height: calc(100vh - 3rem);
  background-image: url('https://picsum.photos/id/1050/2000/1333/?blur');
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  padding-top: 2rem; 
}

.center-text {
  text-align: center;
}

.center-form {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
  margin: auto;
}

#form_purchase label {
  color: #fff;
}

.center-form.banner {
  background: rgba(0,0,0,0.5);
}

.center-form.banner select {
  height: 2rem;
  background-color: #fff
}

.center-form input[type="text"], .center-form input[type="list"], .center-form input[type="date"], select {
  height: 2rem;
  margin-right: 1rem;
}

.center-form input[type="submit"] {
  height: 2rem;
  padding: 0 1rem;
  border: none;
  background-color: #7ed6df;
}

.center-form input[type="submit"] {
  height: 2rem;
  padding: 0 1rem;
  border: none;
}

.message_box {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0;
  width: 100%;
  background-color: #adf199;
}